<footer controller="footer">
  <!-- 微信脚部开始 -->
  <ul class="footer">
    <li class="weixing-w"><a ng-class="{change:title=='微信'}" href="#/message" ng-click="title='微信'">微信</a></li>
    <li class="weixing-t"><a ng-class="{change:title=='通讯录'}" href="#/address" ng-click="title='通讯录'">通讯录</a></li>
    <li class="weixing-f"><a ng-class="{change:title=='发现'}" href="#/find" ng-click="title='发现'">发现</a></li>
    <li class="weixing-wo"><a ng-class="{change:title=='我'}" href="#/personal" ng-click="title='我'">我</a></li>
  </ul>
  <!-- 微信脚部开始 -->
</footer>
