<div class="friend-area" ng-controller="friend">
  <!-- 朋友圈 -->
  <div class="friend-header">
    <div class="fh-left"><a href="#/find"></a></div>
    <div class="fh-center">朋友圈</div>
    <div class="fh-right"></div>
  </div>
  <div class="friend-bodyer">
    <div class="fb-body">
      <span>轻触更换主题照片</span>
      <div class="fb-body-name">芦永智</div>
      <div class="fb-body-photo">
        <img src="img/1.jpg" alt="">
      </div>
    </div>
    <ul class="fb-bodyer">
      <li>
        <div class="fbb-photo"><img src="img/2.jpg" alt=""></div>
        <div class="fbb-message">
          <div class="fbb-message-name">别离的圣火</div>
          <div class="fbb-message-title">响啊你的表情亮了 还是辣眼睛？ 怎么没有？</div>
          <div class="fbb-message-bodyer"><span>悄悄是别离的笙箫，沉默是今晚的康桥。</span></div>
          <div class="fbb-serves">
            <div class="fbb-time">48分钟前</div>
            <div class="discuss"></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
<!-- 朋友圈 -->
</div>
