  <div class="weixin-nav" ng-controller="header">
    <!-- 微信头部开始 -->
    <div class="weixin-message nav_nav">微信(1)</div>
    <div class="weixin-search nav_nav"></div>
    <div class="weixin-add nav_nav" ng-click="toggle=!toggle">
      <ul class="weixin-add-nav" ng-show="toggle" ng-init=false>
        <li class="one">发起群聊</li>
        <li class="two">添加朋友</li>
        <li class="three">扫一扫</li>
        <li class="four">收付款</li>
        <li class="five">帮助与反馈</li>
      </ul>
    </div>
    <!-- 微信头部结束 -->
  </div>
