<div class="weixin-center" id="personal" ng-controller="personal">
  <!-- 个人界面开始  -->
  <div class="jianju"></div>
  <div class="jiemian personal-per">
    <div class="personal-photos">
      <img src="img/6.jpg" alt="">
    </div>
    <div class="personal-message">
      <div class="personal-name">芦永智</div>
      <div class="personal-weixinhao">微信号：yongzhi0709</div>
    </div>
    <div class="personal-lianxi"></div>
  </div>
  <div class="jiemian personal-p">相册</div>
  <div class="jiemian collections">收藏</div>
  <div class="jiemian personal-money">钱包</div>
  <div class="jiemian face">表情</div>
  <div class="jiemian changes">设置</div>
  <!-- 个人界面结束  -->
</div>
